.project
.classpath
*/.settings
.gradle
query.jar
examples/stateless-simple-query/bin/*
*.class
*/bin/
seep-common/build/*
seep-master/build/*
seep-worker/build/*
seep-java2sdg/build/*
seep-contrib/build/*
seep-java2sdg/target/seep-java2sdg-0.0.1-SNAPSHOT.jar
seep-java2sdg/target/
seep-contrib/target/
.DS_Store
/bin/
/build
examples/simple-pipeline-stateless-query/.gitignore
examples/simple-pipeline-stateless-query/.settings/*
examples/simple-pipeline-stateless-query/build/*
examples/simple-dag-stateless-query/.gitignore
examples/simple-dag-stateless-query/.settings/*
examples/simple-dag-stateless-query/build/*
examples/simple-cycle-stateless-query/.gitignore
examples/simple-cycle-stateless-query/.settings/*
examples/simple-cycle-stateless-query/build/*
examples/simple-sourcefile-stateless-query/.gitignore
examples/simple-sourcefile-stateless-query/.settings/*
examples/simple-sourcefile-stateless-query/build/*
examples/simple-pipeline-stateful-query/.gitignore
examples/simple-pipeline-stateful-query/.settings/*
examples/simple-pipeline-stateful-query/build/*
examples/static-scaleout-pipeline-stateless-query/.gitignore
examples/static-scaleout-pipeline-stateless-query/.settings/*
examples/static-scaleout-pipeline-stateless-query/build/*
examples/simple-pipeline-stateless-barrier-query/.gitignore
examples/simple-pipeline-stateless-barrier-query/.settings/*
examples/simple-pipeline-stateless-barrier-query/build/*
deploy/
dist/
