.project
.classpath
*/.settings
.gradle
query.jar
examples/stateless-simple-query/bin/*
*.class
*/bin/
seep-common/build/*
seep-master/build/*
seep-worker/build/*
seep-java2sdg/build/*
seep-contrib/build/*
seep-java2sdg/target/seep-java2sdg-0.0.1-SNAPSHOT.jar
seep-java2sdg/target/
seep-contrib/target/
.DS_Store
/bin/
/build
examples/simple-cycle-stateless-query/bin/
examples/simple-pipeline-stateless-query/bin/
examples/simple-pipeline-stateless-query/.gitignore
examples/simple-pipeline-stateless-query/.settings/*
examples/simple-pipeline-stateless-query/build/*
examples/simple-dag-stateless-query/.gitignore
examples/simple-dag-stateless-query/bin/
examples/simple-dag-stateless-query/.settings/*
examples/simple-dag-stateless-query/build/*
examples/simple-dag-stateless-query/bin/*
examples/simple-cycle-stateless-query/.gitignore
examples/simple-cycle-stateless-query/.settings/*
examples/simple-cycle-stateless-query/build/*
examples/simple-sourcefile-stateless-query/bin/
examples/simple-sourcefile-stateless-query/.gitignore
examples/simple-sourcefile-stateless-query/.settings/*
examples/simple-sourcefile-stateless-query/build/*
examples/simple-pipeline-stateful-query/bin/
examples/simple-pipeline-stateful-query/.gitignore
examples/simple-pipeline-stateful-query/.settings/*
examples/simple-pipeline-stateful-query/build/*
examples/static-scaleout-pipeline-stateless-query/bin/
examples/static-scaleout-pipeline-stateless-query/.gitignore
examples/static-scaleout-pipeline-stateless-query/.settings/*
examples/static-scaleout-pipeline-stateless-query/build/*
examples/simple-pipeline-stateless-barrier-query/bin/
examples/simple-pipeline-stateless-barrier-query/.gitignore
examples/simple-pipeline-stateless-barrier-query/.settings/*
examples/simple-pipeline-stateless-barrier-query/build/*
examples/simple-kafka-stateless-pipeline/.gitignore/
examples/simple-kafka-stateless-pipeline/.settings/
examples/simple-kafka-stateless-pipeline/build/*
examples/static-scaleout-pipeline-stateful-query/.settings/
examples/static-scaleout-pipeline-stateful-query/build/
examples/simple-dag-schedule/.settings/
examples/simple-dag-schedule/build/
examples/simple-pipeline-scheduleref/.settings/
examples/simple-pipeline-scheduleref/build/
examples/simple-dag-schedule/.gitignore
examples/simple-pipeline-scheduledef/.gitignore
examples/simple-pipeline-scheduledef/.settings/
examples/simple-pipeline-scheduledef/build/
examples/simple-shuffle-query/.gitignore
examples/simple-shuffle-query/.settings/
examples/simple-shuffle-query/build/
examples/simple-dag-memorymng/.gitignore
examples/simple-dag-memorymng/.settings/
examples/simple-dag-memorymng/build/
examples/simple-mdf-schedule/.gitignore
examples/simple-mdf-schedule/.settings/
examples/simple-mdf-schedule/build/
examples/microbenchmark-mdf/.gitignore
examples/microbenchmark-mdf/.settings/
examples/microbenchmark-mdf/build/

deploy/
dist/
install/
standaloneDist/
